# Arquivos de compilação Python
*.pyc
__pycache__/

# Outros arquivos e pastas de ambiente virtual comuns (opcional, mas recomendado)
venv/
.env
data/

# PyInstaller build directory
build/
dist/
*.spec